<div class="container">
    <div class="row">
            <div *ngFor="let product of produits" class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.nom }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <a [routerLink]="['/produits', product.id]" class="btn btn-primary">View Details</a>
                </div>
            </div>
        <ng-template #noProducts>
            <p>No products available in this category.</p>
        </ng-template>
    </div>
</div>